.wrapper {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playingCards {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 20px auto;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #3775dd;
  box-shadow: 0 2px #21487f;
  cursor: pointer;
}

.combo-body {
  margin: 0 auto;
  width: 200px;
  height: 100px;
}

.combo {
  text-align: center;
}
